.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px; /* Spacing between grid squares */
  width: 1000px;
  height: 1000px;
  margin: 100px auto;
}

.grid-item {
  /* Subtracts the gap overhead from the 16 columns */
  width: calc((100% - (15 * 2px)) / 16);
  height: calc((100% - (15 * 2px)) / 16);
  background-color: #333;
}

.grid-item:hover{
    background-color: red;
}
